@model AspNetCore2Boilerplate.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello @CurrentUser.Username</h1>
<h1>@CurrentUser.EmailAddress</h1>

<h1>All Users</h1>
<span>Items per page: </span><select asp-items="@Model.ResultAmounts" asp-for="ResultAmount"></select>
@Html.HiddenFor(m => m.ResultAmount);
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email Address
            </th>
            <th>
                Role
            </th>
            <th>
                Last Edited
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.EmailAddress
                </td>
                <td>
                    @user.Role
                </td>
                <td>
                    @user.LastUpdated
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Page > 0)
{
    <a asp-action="Index" asp-controller="Home" asp-route-pageNumber="@(Model.Page - 1)" asp-route-resultAmount="@Model.ResultAmount">Previous Page</a>
}
<a asp-action="Index" asp-controller="Home" asp-route-pageNumber="@(Model.Page + 1)" asp-route-resultAmount="@Model.ResultAmount">Next Page</a>