@model AspNetCore2Boilerplate.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group-lg">
        <div>
            @Html.ValidationMessage("Invalid Login")
        </div>

        @Html.LabelFor(m => m.EmailAddressOrUsername, new { @class = "txt-md-bd form-label" })
        @Html.TextBoxFor(m => m.EmailAddressOrUsername, "", new { Name = "EmailAddressOrUsername", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailAddressOrUsername)
        <br />

        @Html.LabelFor(m => m.Password, new { @class = "txt-md-bd form-label" })
        @Html.PasswordFor(m => m.Password, new { Name = "Password", @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Password)
        <div class="link"><a asp-area="" asp-controller="User" asp-action="PasswordReset">Forgotten your password?</a></div>
        <br />

        @Html.CheckBoxFor(m => m.RememberMe)
        <span>&nbsp;Remember me?</span>

        @Html.Hidden("returnUrl", Model.ReturnUrl)

        <div>
            <button type="submit"><span class="glyphicon glyphicon-menu-right pull-right"></span>Sign in</button>
        </div>
        <div><a asp-area="" asp-controller="User" asp-action="Register">Don't have an account?</a></div>

    </div>
}
